<div class="content">
        <div class="row">
            <div class="col-xs-12">  
                <h3 class="settings-header">Change password</h3>
                 <img [src]="url" height="200"><br>
                 <input type="file" (change)="onSelectFile($event)">             
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
              <button type="button" class="btn btn-warning btn-yellow" (click)="uploadAvatar()">CHANGE</button>
            </div>
          </div>
</div>
