<h2 class="account-title">Account Settings</h2>
<div class="options-bar">
    <div class="text-left">
        <span class="option" [routerLink]="'/settings/'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">PROFILE</span>
        <span class="option" [routerLink]="'/settings/auth'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">AUTH</span>
        <span class="option" [routerLink]="'/settings/avatar'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">AVATAR</span>
        <span class="option" [routerLink]="'/settings/favoriteMovies'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">FAVORITE MOVIES</span>

    </div>
    <div class="glow-line"></div>
</div>
